html
	head
		+h.headers()
		title= "HTTP 404 - " + site.title
		+h.load('//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
		+h.load('/template/static/basic.scss')
		style(type="text/css")
			body {
				background-color: #00BCD4;
				color: #fff;
			}
			h1 {
				font-size: 14em;
				line-height: 120%;
				padding: 0;
				font-weight: 400;
				font-family: cursive;
				text-align: center;
				display: block;
				text-shadow: -1px -1px 6px #aaa;
				margin: 0;
			}
			p {
				font-size: 1em;
				line-height: 2em;
				text-align:left;
			}
			a {
				color: #fff;
			}
			a:hover {
				color: #757575;
				cursor: pointer;
			}
			#main {
				margin: 0 auto;
				position: relative;
				top: 5%;
			}
			p.back{
				text-align:right;
			}
			.block{
				max-width: 25em;
				margin: 0 auto;
				width: 500px;
				font-size: 1.25em;
			}
			.line{
				border-top:1px solid rgba(255, 255, 255, 0.15);
			}

	body
		div#main
			h1 404
			.block
				p Page Not Found.
				.line
				p.back
					small back to 
					a(href="/") &nbsp;Home