header {
    height: 16em;
    background-color: rgb(66, 133, 244);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    z-index: 10000;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2em;
}

header a {
    color: #fff;
    text-shadow: 0px 0px 1px #333;
    ;
}

h1.sitetitle {
    font-weight: 600;
    font-size: 3.5em;
    font-family: RobotoDraft, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
}

h1.sitetitle a:after {
    content: "¬";
    opacity: .4;
    font-size: .8em;
}

h1.sitetitle a:hover {
    color: #333;
    text-shadow: 0px 0px 1px #fff;
    border: 0;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav li {
    display: inline-block;
    list-style: none;
    margin: 0;
}

nav li a {
    padding: 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 700;
    transition: .5s;
}

nav li a:hover {
    color: #fff;
    border-color: #ddd;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1.8em 0;
    background-color: #5c5757;
    color: #e3e3e3;
    border-top: 5px solid #ee6e73;
    margin-top: 4em;
}

footer p{
    padding: .1em 0;
    margin: 0;
}

footer a {
    color: #eee;
}

footer span {
    padding: 0 .6em;
}

#container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

#container article {
    margin: 2em auto;
    padding: .5em 2em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pagination {
    padding: 0 2em;
}

.pagination a {
    margin: 0 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px, rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px;
    overflow: hidden;
    border: none;
    outline: 0;
    transition: all .3s ease-out;
    border-radius: 50%;
    background-color: #00BCD4;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
}

.pagination a.next,
.pagination a.pre,
.pagination a.prev {
    width: 65px;
    height: 65px;
    line-height: 65px;
}


.pagination a.next {
    float: right;
}

.pagination a.prev {
    float: left;
}

.pagination a:hover {
    opacity: .7;
}

.pagination a.current {
    background: #B2EBF2;
    color:#333;
    cursor: default;
}

.content .title {
    border-bottom: 3px solid #eee;
    color: #F47F5A;
    font-size: 2em;
    font-weight: 500;
}

.content .title a {
    color: #009688;
    border: 0;
}

.list .content .title {
    border-width: 1px;
}

.content span.date {
    color: #999;
    font-style: italic;
    float: right;
}

.content .info {
    border-top: 1px dashed #ddd;
    padding: .5em 0;
}

.content .info ul.tags {
    padding: 0;
    margin: 0;
}

.content .info ul.tags li {
    padding-right: 1em;
    display: inline;
}

.content .info ul.tags li a {
    color: #009688;
}

.content .info ul.tags li a:before {
    content: "#";
    opacity: .6;
}

.other_posts .next {
    width: 50%;
    text-align: right;
    float: right;
}

.other_posts .prev {
    float: left;
    width: 50%;
}

.other_posts a {
    background-color: transparent;
    border-width: 0;
    color: #009688;
}

.list ul,
.list li {
    padding: 0;
    list-style: none;
}

ul.list_with_title {
    padding: 0;
}

ul.list_with_title li {
    display: block;
}

ul.list_with_title li ul {
    padding: 0;
}

li.listing_item {
    border: 1px dashed #ddd;
}

.list_with_title li h3 {
    color: #eee;
    padding: .5em 1em;
    background-color: #03A9F4;
    font-weight: 600;
    margin: 0;
}

li.listing_item:hover {
    background: #B3E5FC;
}

li.listing_item:hover>a,
li.listing_item:hover>span {
    color: #212121;
}

li.listing_item a {
    display: block;
    padding: 1em;
}

li.listing_item a:hover {
    border-width: 0;
}

li.listing_item span.date {
    float: right;
    color: #58b798;
}

li.listing_item:after {
    content: "";
    clear: both;
    display: block;
}

li.block_item {
    display: inline-block;
    margin: .5em .2em;
}


/*********************
  Post
**********************/

.post_body a:hover {
    border-bottom-color: #555;
    color: #555;
    text-decoration: none;
}

.post_body u {
    text-decoration: underline;
}

.post_body mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px;
}

.post_body pre,
.post_body code,
.post_body pre tt {
    font-family: Courier, 'Courier New', monospace;
}

.post_body code,
.post_body pre {
    background-color: #F5F5F5;
    border: 1px solid #EEE;
    padding: 0 2px;
    border-radius: 4px;
    margin: auto 2px;
}

.post_body pre {
    display: block;
    padding: .6em 1em;
    word-break: break-all;
    word-wrap: break-word;
}

.post_body pre code {
    padding: 0;
    border-width: 0;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.post_body hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0.8em;
    height: 10px;
}

.post_body small,
.post_body figcaption {
    font-size: 0.9em;
    color: #888;
}

.post_body strong,
.post_body b {
    font-weight: bold;
    color: #000;
}

.post_body [draggable] {
    cursor: move;
}

.post_body .clearfix:before,
.post_body .clearfix:after {
    content: "";
    display: table;
}

.post_body .clearfix:after {
    clear: both;
}

.post_body .clearfix {
    zoom: 1;
}

.post_body p,
.post_body pre,
.post_body ul,
.post_body ol,
.post_body dl,
.post_body form,
.post_body hr,
.post_body table,
.post_body-p,
.post_body-pre,
.post_body-ul,
.post_body-ol,
.post_body-dl,
.post_body-form,
.post_body-hr,
.post_body-table,
blockquote {
    margin-bottom: 1em;
    word-wrap: break-word;
    word-break: normal;
}

.post_body h1,
.post_body h2,
.post_body h3,
.post_body h4,
.post_body h5,
.post_body h6 {
    font-weight: 500;
    color: #000;
    line-height: 1.2;
}

.post_body h1 {
    font-size: 1.8em;
}

.post_body h2 {
    font-size: 1.6em;
}

.post_body h3 {
    font-size: 1.4em;
}

.post_body h4 {
    font-size: 1.2em;
}

.post_body h5,
.post_body h6 {
    font-size: 1.1em;
}

.post_body ul {
    list-style: disc;
}

.post_body ol {
    margin-left: 1em;
    list-style: decimal;
}

.post_body li ul,
.post_body li ol {
    margin-bottom: 0.8em;
    margin-left: 2em;
}

.post_body li ul {
    list-style: circle;
}

.post_body table th,
.post_body table td,
.post_body table caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
}

.post_body table th {
    background: #fbfbfb;
}

.post_body table thead th {
    background: #f1f1f1;
}

.post_body table caption {
    border-bottom: none;
}

.post_body em,
.post_body legend,
.post_body caption {
    color: #333;
    font-weight: inherit;
}

.post_body img {
    max-width: 100%;
    border: 1px solid #ccc;
    padding: 2px;
}

.p_part img {
    margin: 0 auto;
    display: block;
}

#comments_container {
    padding: .5em;
}


/*********************
  Media Query Classes
**********************/

@media only screen and (min-width: 601px) {
    #container {
        padding: 0 1.5rem;
        width: 90%;
    }
}

@media only screen and (min-width: 1024px) {
    #container {
        width: 80%;
    }
}

@media only screen and (min-width: 1280px) {
    #container {
        width: 75%;
    }
}

@media only screen and (max-width: 600px) {
    footer span {
        display: block;
    }
    h3.title {
        margin: 0
    }
    .content span.date {
        float: none;
    }
    .other_posts span.pre,
    .other_posts span.next {
        display: block;
        text-align: center;
        width: 100%;
    }
}