aside#comments
	if site.configs.hide_comments
		// comment hidden
	else
		.comments_container
			if site.configs.third_party_comments_script
				{{ site.configs.third_party_comments_script }}
				//a(href="#comments", onclick="showComment();",id='showComment')
					b='评论/查看评论 (Show Comments)'
			else
				+post.comments_as_html()